<web-app>  
  
<servlet>  
<servlet-name>ServletConfigDemo</servlet-name>  
<servlet-class>ServletConfigDemo</servlet-class>  
<init-param>
<param-name>WT</param-name>
<param-value>DeviPriya</param-value>
	
</init-param>
<init-param>
<param-name>UMLDP</param-name>
<param-value>SwathiMadam</param-value>
	
</init-param>
</servlet>  
  
<servlet-mapping>  
<servlet-name>ServletConfigDemo</servlet-name>  
<url-pattern>/ServletConfigDemo</url-pattern>  
</servlet-mapping>  
  <servlet>  
<servlet-name>configobj</servlet-name>  
<jsp-file>/configobj.jsp</jsp-file>  
  
<init-param>  
<param-name>section</param-name>  
<param-value>CSEB</param-value>  
</init-param>  
  <init-param>  
<param-name>college</param-name>  
<param-value>LBRCE</param-value>  
</init-param>
</servlet>  
  
<servlet-mapping>  
<servlet-name>configobj</servlet-name>  
<url-pattern>/configobj</url-pattern>  
</servlet-mapping>  
  
</web-app>  